@import "../modules/index";
@import "../partials/index";

.nav-container {
  display: grid;
  min-height: 70px;
  // grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  // background: blanchedalmond;
  padding: 0 1.4em 0 1.4em;
}

.nav-header {
  display: grid;
  justify-content: start;
  align-content: center;
}

.nav-btn {
  display: none;
}

.nav-links {
  display: grid;
  justify-content: end;
  align-content: center;

  ul {
    display: grid;
    justify-content: end;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 20px;
    list-style-type: none;
    align-self: center;
  }

  a {
    padding: 0.5em;
  }
}

/* Media queries */
/* mobile: hide nav-links  */

/* desktop: hide nav-btn (930px) */
@media (max-width: 800px) {
  .nav-links {
    display: none;
  }

  .nav-btn {
    display: grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 20px;
  }
  /* 
  .nav-container > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav-container > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  } */
}
